USE [master]
GO
/****** Object:  Database [UPPart2]    Script Date: 5/4/2562 18:28:04 ******/
CREATE DATABASE [UPPart2]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'UPPart2', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.SQLEXPRESS\MSSQL\DATA\UPPart2.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'UPPart2_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.SQLEXPRESS\MSSQL\DATA\UPPart2_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [UPPart2].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [UPPart2]
GO
/****** Object:  Table [dbo].[Calendar]    Script Date: 5/4/2562 18:28:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Calendar](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Title] [varchar](150) NOT NULL,
	[Day] [int] NOT NULL,
	[Month] [int] NOT NULL,
	[Year] [int] NOT NULL,
 CONSTRAINT [PK_Calendar] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TreeView]    Script Date: 5/4/2562 18:28:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TreeView](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Name] [varchar](255) NOT NULL,
	[Part] [int] NULL,
	[URL] [varchar](255) NULL,
	[PicturePath] [varchar](255) NULL,
 CONSTRAINT [PK_TreeView] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Calendar] ON 

INSERT [dbo].[Calendar] ([ID], [Title], [Day], [Month], [Year]) VALUES (1, N'xxx', 31, 3, 2562)
INSERT [dbo].[Calendar] ([ID], [Title], [Day], [Month], [Year]) VALUES (2, N'hahhahahahahahah', 1, 1, 2014)
INSERT [dbo].[Calendar] ([ID], [Title], [Day], [Month], [Year]) VALUES (3, N'hahhahahahahahah', 1, 1, 2014)
SET IDENTITY_INSERT [dbo].[Calendar] OFF
SET IDENTITY_INSERT [dbo].[TreeView] ON 

INSERT [dbo].[TreeView] ([ID], [Name], [Part], [URL], [PicturePath]) VALUES (6, N'Level 1x', NULL, NULL, NULL)
INSERT [dbo].[TreeView] ([ID], [Name], [Part], [URL], [PicturePath]) VALUES (7, N'Level 1y', NULL, NULL, NULL)
INSERT [dbo].[TreeView] ([ID], [Name], [Part], [URL], [PicturePath]) VALUES (8, N'Level 1z', NULL, NULL, NULL)
SET IDENTITY_INSERT [dbo].[TreeView] OFF
/****** Object:  StoredProcedure [dbo].[spCalendar]    Script Date: 5/4/2562 18:28:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[spCalendar] 
	@ID int = NULL,
	@Title varchar(50),
	@Day int,
	@Month int,
	@Year int
AS
BEGIN
	
		IF @ID IS NULL
			BEGIN
				INSERT INTO Calendar(Title, Day, Month, Year)
				VALUES  (@Title, @Day, @Month, @Year)
			END
		ELSE
			BEGIN
			UPDATE Calendar
			SET
				Title = @Title,
				Day = @Day,
				Month = @Month,
				Year = @Year
			WHERE ID = @ID
		END
END
GO
/****** Object:  StoredProcedure [dbo].[spCalendarByID]    Script Date: 5/4/2562 18:28:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[spCalendarByID]
	@ID int

AS
BEGIN

	SET NOCOUNT ON;
	SELECT ID, Title, Day, Month, Year
	FROM Calendar
	WHERE (ID = @ID)
END
GO
/****** Object:  StoredProcedure [dbo].[spCalendarInsert]    Script Date: 5/4/2562 18:28:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[spCalendarInsert]
	@ID int = NULL,
	@Title varchar(50),
	@Day int,
	@Month int,
	@Year int
AS
BEGIN
		IF @ID IS NULL
		BEGIN
			INSERT INTO Carlendar(Title, Day, Month, Year)
			VALUES (@Title,@Day,@Month,@Year)
        END
		ELSE
			BEGIN
			UPDATE Calendar
			SET
				Title = @Title,
				Day = @Day,
				Month = @Month,
				Year = @Year
			WHERE ID = @ID
		END
END
GO
/****** Object:  StoredProcedure [dbo].[spTreeViewInsertedFile]    Script Date: 5/4/2562 18:28:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[spTreeViewInsertedFile]
    @Name varchar(50),
	@PicturePath varchar(255)
AS
BEGIN
	
	SET NOCOUNT ON;
	INSERT INTO TreeView(Name, PicturePath)
	VALUES(@Name, @PicturePath)

   
END
GO
USE [master]
GO
